<h1>Login</h1>

<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" name="login" #loginForm="ngForm">
    <br />
    <mat-form-field>
      <input
        matInput
        type="email"
        ngModel
        name="email"
        placeholder="Email Address"
        #enteredEmail="ngModel"
        pattern ="^[\w-.]+@([\w-]+.)+[\w-]{2,4}$"
      />
      <mat-error *ngIf="enteredEmail.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <br />

    <mat-form-field>
      <input
        matInput
        type="password"
        ngModel
        name="password"
        placeholder="Password"
        #enteredPassword="ngModel"
        pattern ="^([a-zA-Z0-9@*#]{6,15})$"
      />
      <mat-error *ngIf="enteredPassword.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <br />
    <button mat-raised-button type="submit" color="primary" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>
<hr />
